<main
  class="font-deca mt-8 max-w-4xl m-auto flex flex-col items-center justify-center p-2 gap-4 md:gap-8"
>
  <app-header class="w-full" />
  <app-task-input class="w-full" (taskTitleEvent)="addTask($event)" />
  <app-task-list
    class="w-full"
    (taskDeleteEvent)="deleteTask($event)"
    (taskUpdateEvent)="updateTask($event)"
    [taskList]="tasks()"
  />

  @if (tasks().length > 0) {
  <app-task-badges
    [totalTasks]="tasks()"
    [completeTasks]="completeTasks()"
    [incompleteTasks]="incompleteTasks()"
  />
  }
  <app-footer />
  <ngx-sonner-toaster theme="dark" position="top-center" />
</main>
